<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                lin1000
            </a>
        </div>

        <ul class="nav  nav-pills">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="https://gist.github.com/lin1000/ebecea98912bbb415690e393c75a00e9" target="_blank"> Gist Today<span id="log" class="badge"></span></a></li>
        </ul>   
    </div>
</nav>